
@{
    ViewBag.Title = "Type";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<Club.Type>
<div class="page-content">

    <div class="page-header">
        <h1>
            帖子管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                类型管理
            </small>
        </h1>
    </div><!-- /.page-header -->
    <style>
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="row mt15">
                    <div class="col-xs-6">
                        <div class="dataTables_length" id="sample-table-2_length">
                            <a href="/Admin/Post/TypeInformation" class="btn btn-sm btn-primary">添加</a>
                            @*<a href="#" class="btn btn-sm btn-primary">删除</a>*@
                        </div>
                    </div>
                </div>
                <div class="row mt15">
                    <div class="col-xs-2">
                        <div class="dataTables_length" id="sample-table-2_length">
                            <label>
                                <select id="pagesize" name="sample-table-2_length" aria-controls="sample-table-2" class="form-control input-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Type", "Post", FormMethod.Get))
                {
                    <div id="articles">
                        @Html.Partial("_Type", Model)
                    </div>
                }

            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="/Areas/Admin/Assets/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">$(function () {@{ Ajax.LoadMvcPagerScript(); }});</script>
